body{
    background:#191970;
}
.title, .result_sum{
    color: white;
}

.input_numb {
    background: #6495ED;
    color: white;
    width: 18rem;
    height: 8rem;
    font-size: 5rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.button{
    color: white;
    font-size: 4rem;
    align-items: center;
    background: #0000CD;
    width: 12rem;
    height: 5rem;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 15px;
    
}

.result_sum {
    font-size: 5rem;
}